* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('img/bg.jpg');
    color: white;
}

.background-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    font-weight: 900;
}

h2 {
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 25px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-weight: 900;
    font-size: large;
}

.container {
    max-width: 1000px;
    margin: auto;
    border: 2px solid brown;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;  
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: orange;
    cursor: pointer;
    font-weight: bold;
}